@using DiemRenLuyen.Model
@using Models.Constraints
@model IEnumerable<Models.EF.sinhVien>
@{
    ViewBag.Title = "Đổi mật khẩu";
    Layout = "~/Views/Students/_Layout.cshtml";
}

<main>

    <div id="crumbs" class="wow animate__fadeInUp" data-wow-duration="2s" style="visibility: visible;">
        <ul>
            @{
                var user = (LoginModel)Session[Common.USER_SESSION];
            }
            <li><a href="@Url.Action("Index","Teacher")" class="breadcrumb">Trang chủ</a></li>
            <li>
                <a href="@Url.Action("ChangePassword","Teacher")" class="breadcrumb">Thay đổi mật khẩu</a>
            </li>

        </ul>
    </div>

    <div class="change__password--form">
        <h1 class="article-title wow animate__fadeInUp" data-wow-duration="2s" itemprop="headline" style="text-align: center;text-transform: capitalize;">
            Thay Đổi Mật Khẩu
        </h1>
        <form action="/Students/ChangePassword" method="post">
            <div id="change__password" class="login" width="100%" align="center" border="0" cellpadding="0" cellspacing="0">
                <div class="change__password--info">
                    <input type="hidden" class="form-control" value="@user.UserName" id="maGiangVien" name="maGiangVien" />
                    <div align="center" class="change__password--info change__password--old bg-module-middle d-flex justify-content-center align-items-center wow animate__fadeInUp" data-wow-duration="2s" style="visibility: visible;
        position: relative;
">
                        <label class="moudle__info--title d-flex">Mật khẩu cũ:&nbsp;<p class="text-danger">(*)</p></label>
                        <input type="password" class="form-control required display-inline-block"
                               placeholder="" value="" id="password" name="matKhau" maxlength="100">
                        <button type="button" class="btn-show-password" onclick="showHidePassword()" id="eye" style="position: absolute;outline: none; background: none; top: 9px; right:18.5vw;">
                            <img src="~/Assets/client/image/eye.png" alt="eye" />
                        </button>
                    </div>
                    <div align="center" class="reset__password--info reset__password--email bg-module-middle d-flex justify-content-center align-items-center wow animate__fadeInUp" data-wow-duration="2s" style="visibility: visible;position: relative;
">
                        <label class="moudle__info--title d-flex">Mật khẩu mới&nbsp;<p class="text-danger">(*)</p></label>
                        <input type="password" class="form-control required display-inline-block"
                               placeholder="" value="" name="newPassword" id="newPassword" maxlength="100">
                        <button type="button" class="btn-show-password" onclick="showHide2()" id="eye" style="position: absolute;outline: none; background: none; top: 17px; right:18.5vw;">
                            <img src="~/Assets/client/image/eye.png" alt="eye" />
                        </button>
                    </div>
                    <div align="center" class="reset__password--info reset__password--new bg-module-middle d-flex justify-content-center align-items-center wow animate__fadeInUp" data-wow-duration="2s" style="visibility: visible;
        position: relative;
">
                        <label class="moudle__info--title d-flex">Xác nhận mật khẩu mới&nbsp;<p class="text-danger">(*)</p></label>
                        <input type="password" class="form-control required display-inline-block"
                               placeholder="" name="newPasswordConfirm" id="newPasswordConfirm" value="" onkeyup="checkPassword(this)" maxlength="100">
                        <button type="button" class="btn-show-password" onclick="showHide3()" id="eye" style="position: absolute;outline: none; background: none; top: 17px; right:18.5vw;">
                            <img src="~/Assets/client/image/eye.png" alt="eye" />
                        </button>
                    </div>

                </div>

                <div class="form-group  form-group--center mt-3 wow animate__fadeInUp" data-wow-duration="2s" style="visibility: visible;" style="margin: 0">

                    <div class="col-lg-4 col-md-4 form-group">
                        <a class="btn btn-success" type="submit" id="changePassword" onclick="changePassword()" style="width: 100%" href="#"><i class="fas fa-exchange-alt"></i>&nbsp;Cập Nhật Mật Khẩu</a>
                    </div>
                </div>

            </div>
        </form>
    </div>
    <hr>
</main>
<script>
    var password = true;
    function showHidePassword() {
        if (password) {
            document.getElementById("password").type = "text";
            password = false;
        } else {
            document.getElementById("password").type = "password";
            password = true;
        }
    }
    var newPassword = true;
    function showHide2() {
        if (newPassword) {
            document.getElementById("newPassword").type = "text";
            newPassword = false;
        } else {
            document.getElementById("newPassword").type = "password";
            newPassword = true;
        }
    }
    var newPasswordConfirm = true;
    function showHide3() {
        if (newPasswordConfirm) {
            document.getElementById("newPasswordConfirm").type = "text";
            newPasswordConfirm = false;
        } else {
            document.getElementById("newPasswordConfirm").type = "password";
            newPasswordConfirm = true;
        }
    }
    function checkPassword(obj) {
        console.log('Minh');
        var newPassword = $('#newPassword').val();
        var newPasswordConfirm = obj.value;
        console.log(newPassword + '' + newPasswordConfirm);
        if (newPasswordConfirm == newPassword) {
            $('#changePassword').show();
        } else {
            $('#changePassword').hide();
        }
    }
    function changePassword() {
        var maGiangVien = $('#maGiangVien').val();
        var password = $('#password').val();
        var newPassword = $('#newPassword').val();
        $.ajax({
            type: "POST",
            url: "/Teacher/ChangePassword",
            data: {

                maGiangVien: maGiangVien,
                password: password,
                newPassword: newPassword
            },
            success: function (result) {
                console.log(result);
                if (result) {
                    window.location.href = "/Home/Index";
                } else {
                    $.niceToast.error('<strong>Thông báo</strong>:Tài khoản giảng viên không tồn tại');
                }
            }
        })
    }

    $(document).ready(function () {
        $.niceToast.setup({
            position: "top-right",
            timeout: 2500,
        });
    });

</script>

