
@{
    ViewBag.Title = "Chi tiết thông báo";
    Layout = "~/Views/Students/_Layout.cshtml";
}

<main>
    <div id="crumbs" class="wow animate__fadeInUp" data-wow-duration="2s" style="visibility: visible;">
        <ul>
            <li><a href="@Url.Action("Index","Students")" class="breadcrumb">Trang chủ</a></li>
            <li><a href="@Url.Action("DetailNotification","Students")" class="breadcrumb">Chi tiết thông báo</a></li>

        </ul>
    </div>
    <div class="container">
        <div class="row mt-4 mb-5">
            <div class="col-md-10 offset-md-1">
                <h1 class="article-title mt-4 mb-4 wow animate__fadeInUp" data-wow-duration="2s" itemprop="headline"
                    style="text-align: center;text-transform: capitalize;">
                    Thông báo Kế hoạch học tập của sinh viên, học viên các loại hình/bậc đào tạo từ
                    ngày 22/02/2021 đến hết ngày 07/03/2021
                </h1>
                <p class="mb-2">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                         fill="currentColor" class="bi bi-calendar-date" viewBox="0 0 16 16">
                        <path d="M6.445 11.688V6.354h-.633A12.6 12.6 0 0 0 4.5 7.16v.695c.375-.257.969-.62 1.258-.777h.012v4.61h.675zm1.188-1.305c.047.64.594 1.406 1.703 1.406 1.258 0 2-1.066 2-2.871 0-1.934-.781-2.668-1.953-2.668-.926 0-1.797.672-1.797 1.809 0 1.16.824 1.77 1.676 1.77.746 0 1.23-.376 1.383-.79h.027c-.004 1.316-.461 2.164-1.305 2.164-.664 0-1.008-.45-1.05-.82h-.684zm2.953-2.317c0 .696-.559 1.18-1.184 1.18-.601 0-1.144-.383-1.144-1.2 0-.823.582-1.21 1.168-1.21.633 0 1.16.398 1.16 1.23z" />
                        <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1z" />
                    </svg> Ngày 2 tháng 2 năm 2020
                </p>
                <p class="lead mb-2">
                    Ngày 23/1/2021, Đại học Bách khoa Hà Nội trang trọng tổ chức Lễ
                    Tốt Nghiệp năm 2020 cho các tân kỹ sư và cử nhân tốt nghiệp kỳ 2 và kỳ hè năm
                    học 2019-2020 sau hai lần tạm hoãn do đại dịch COVID19.
                </p>
                <p class="text-justify">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi quae veniam, eum
                    autem ut vero magni illum minima commodi quisquam? Totam quis mollitia soluta
                    alias, earum aspernatur ad repudiandae. At sit, perferendis quibusdam reiciendis
                    laboriosam amet nihil cumque, earum placeat quod illo, porro atque et molestias.
                    Temporibus dolore rem beatae. Totam harum minima quis laboriosam vitae
                    blanditiis vel aspernatur animi itaque numquam, voluptatibus eaque doloremque
                    necessitatibus, porro incidunt rerum neque facilis adipisci! Labore explicabo,
                    iure soluta quae exercitationem deserunt atque dolore ipsum culpa dolor eius
                    doloribus nobis, natus debitis porro itaque? Et labore voluptatibus laborum
                    alias asperiores omnis. Voluptate officia magni aliquam, recusandae optio iure!
                    Eaque tempore amet cumque fuga iure sed reiciendis, dolor quia excepturi natus
                    perspiciatis quas nisi placeat necessitatibus tempora deleniti. Veniam rerum ut
                    illum temporibus minima, inventore odit veritatis itaque consectetur placeat
                    laboriosam aliquam possimus alias autem harum voluptatibus nobis doloremque non
                    quod quisquam ullam quaerat reprehenderit accusantium! Porro reprehenderit
                    quasi, officia, a, voluptate sequi vero magnam excepturi obcaecati voluptatibus
                    eum velit. Minus aspernatur enim laudantium illo vitae consequatur, impedit
                    excepturi culpa placeat optio, sint, numquam incidunt quasi veritatis ullam.
                    Consectetur nemo debitis dolorem doloribus, facilis voluptates animi placeat
                    perspiciatis amet recusandae? Corrupti quibusdam assumenda nesciunt numquam
                    voluptas natus beatae reiciendis, atque deleniti eveniet aut laborum aliquam sit
                    perferendis, repellat veniam, alias obcaecati? Sunt odio laudantium ducimus
                    dolores vel iure, quasi cum minima esse, architecto, accusantium perferendis
                    earum facere vitae facilis maiores quaerat nemo ea nobis quas id debitis
                    eligendi et provident. Quasi, obcaecati similique! Quas eum, eos aliquid placeat
                    nesciunt libero veniam eveniet voluptates maiores optio reprehenderit doloremque
                    non soluta architecto dolorum facilis? Cupiditate, recusandae dolorum. Iste
                    minima magni adipisci pariatur. Repellendus voluptatibus rerum iure, asperiores
                    voluptatem nam qui aperiam vitae nemo optio deleniti consectetur, impedit
                    similique quibusdam quia, laboriosam a aliquid quod natus? Harum explicabo
                    obcaecati facilis. Maiores qui vero numquam vitae similique cum, voluptatibus
                    illum dolorem perspiciatis neque. Assumenda dolorem aliquid placeat rerum,
                    explicabo, esse dolores numquam cupiditate perferendis qui sapiente quo
                    repellendus. Impedit, laudantium earum rem et consectetur ex dignissimos quidem
                    nesciunt, odio voluptatibus placeat est laborum totam ratione inventore
                    consequatur incidunt excepturi culpa ipsum quisquam? Blanditiis numquam
                    praesentium sed ducimus, voluptates magni sequi possimus voluptatum vitae quidem
                    in, nemo, sint at quisquam laudantium delectus unde debitis corporis quod.
                    Magnam fugit voluptates architecto numquam totam ratione, doloribus veritatis ab
                    ipsum nesciunt impedit fugiat officia nam blanditiis qui nulla dignissimos
                    dolorem, quam maiores nisi sequi! Maiores suscipit eaque perferendis eveniet
                    molestias voluptatibus sit alias amet laboriosam ut culpa, similique dolorum
                    inventore reiciendis iure dolores deserunt dolore voluptate consequatur!
                    Inventore culpa ipsum laudantium. Consequuntur tenetur, nam magnam animi quae
                    doloribus placeat in, deserunt incidunt officia pariatur modi aperiam dicta?
                    Reprehenderit tempore ducimus alias, repellat, qui assumenda dignissimos
                    obcaecati mollitia sint maiores iure quis perspiciatis accusamus ex animi harum
                    accusantium fuga earum incidunt dolorum quasi sapiente dolore. Hic inventore
                    quis quia corporis eligendi earum! Sint, magnam inventore explicabo tempore
                    officiis laudantium et optio eum minus amet eligendi quibusdam enim ex. Autem
                    consectetur magnam commodi minima neque recusandae soluta consequatur
                    voluptatibus eum labore tempore suscipit beatae quo officiis quas molestias odio
                    natus pariatur tempora, excepturi saepe! Reprehenderit cupiditate eius laborum
                    quas quam voluptatem error quod, quis laboriosam officiis ullam esse totam iusto
                    veniam assumenda alias, aliquam, cum corrupti porro pariatur! Atque cupiditate
                    modi reprehenderit eos? Dignissimos omnis alias sed a. Tempore labore cumque
                    magni aliquam enim, dolores nostrum minus ullam porro, nobis consequuntur quam
                    praesentium vero ipsam itaque accusamus quas sed? Dolorum iure unde mollitia
                    recusandae, saepe ipsam expedita maxime harum! Iure laudantium, hic vitae,
                    quidem, aspernatur dignissimos natus molestias nesciunt sint facere harum.
                    Facilis maiores nostrum natus neque inventore vel eius dignissimos aspernatur
                    dolorem, ab laboriosam repudiandae, nam commodi sunt a. Quam, excepturi
                    inventore aliquid, dolore quisquam aperiam neque perferendis autem perspiciatis
                    unde nostrum? Architecto sunt repudiandae facilis et eius, minima unde explicabo
                    ea totam quis tempore. Optio, sed earum. Ipsa commodi fugiat ullam autem iusto
                    delectus reiciendis nobis tempore, eos doloribus quo illum modi cum repellat ut
                    est voluptatum at sunt voluptates aliquid ducimus nulla sed. Blanditiis saepe
                    sequi soluta sunt aspernatur nemo excepturi, in ad, repellendus omnis iusto
                    maiores incidunt eos id a rerum illum veniam, rem assumenda asperiores officia
                    commodi nostrum. Eaque quidem dignissimos perferendis asperiores perspiciatis
                    hic officiis dolorem! Voluptates minus hic iusto excepturi necessitatibus ipsum
                    quia sequi repellat iste unde debitis molestiae nam, magnam quos similique
                    distinctio quas perferendis tempore ea voluptas nihil. Quos asperiores nostrum
                    minima, excepturi vitae voluptate ea similique unde vero, cupiditate qui dolor
                    est, neque illo inventore nesciunt beatae. Aperiam similique architecto
                    voluptatem nobis sint facilis autem, tenetur minus accusantium quisquam,
                    inventore dolorum totam sunt necessitatibus! Libero, nesciunt aspernatur sequi
                    iste amet maiores obcaecati placeat odit! Nihil hic natus eaque, reiciendis
                    molestiae aliquid molestias sunt soluta laboriosam esse error quibusdam illum
                    mollitia, cum ipsam culpa itaque sed tenetur sit, provident reprehenderit amet
                    eligendi cumque. Quis sequi sint quia, eos beatae quos libero dolorem modi esse
                    quasi consectetur obcaecati! Inventore quidem, incidunt nobis non architecto
                    debitis exercitationem qui eos deserunt vel labore iure nostrum tempora
                    praesentium molestiae? Voluptatum quas, iste dolores soluta inventore veniam
                    odio totam eius consectetur laboriosam cumque possimus quidem perspiciatis
                    deserunt quibusdam tenetur laudantium nam consequuntur sint, nobis natus. Ex
                    architecto numquam sint. Excepturi ullam minus laudantium et, illo consectetur
                    earum natus numquam quisquam. Modi delectus amet atque eveniet ipsam veniam
                    facere culpa, rerum fugit nam dolores fuga, tenetur recusandae ab! Ab, labore et
                    cumque illum eaque eius expedita. Nemo, enim dolor. Voluptatibus voluptatum esse
                    beatae reiciendis illo quae voluptates. Ex distinctio, voluptatum labore ipsum
                    tenetur accusamus, ad, expedita possimus officiis doloremque eius
                    necessitatibus? Vel impedit architecto, itaque expedita omnis perferendis
                    nesciunt ad eius nisi id maxime fugit amet adipisci unde aut officiis
                    consequatur autem? Vel nulla nisi perspiciatis provident quo quis, id, ab earum
                    consequuntur voluptas impedit exercitationem qui tempora. Velit rerum temporibus
                    in nemo. Doloremque soluta necessitatibus molestias suscipit quod in dolorum
                    iusto vitae dolorem molestiae, architecto cupiditate dolor nisi culpa quam
                    voluptatibus quisquam aspernatur dolore omnis consequatur porro ut minus minima.
                </p>
                <p class="d-flex justify-content-end" class="mt-4">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                         fill="currentColor" class="bi bi-person" viewBox="0 0 16 16">
                        <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z" />
                    </svg>Người đăng: Hoàng Thị Mỹ Lệ
                </p>
            </div>
        </div>
    </div>

</main>

