@model IEnumerable<Models.EF.giaoVienChuNhiem>
    @{
        ViewBag.Title = "Details";
    }

    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0">Chi tiết giảng viên </h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->
    <!-- Main content -->
    <section class="content">
        <div class="container pb-5">
            <form role="form" class="row">
                @foreach (var item in ViewBag.Main)
                {
                    if(item.giaoVienChuNhiem.trangThai == 1)
                    {
                        <div class="form-group col-md-6">
                            <label for="exampleInputEmail1">Mã lớp</label>
                            <input type="text" class="form-control" id="exampleInputEmail1" value="@item.giaoVienChuNhiem.maLop" readonly>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="exampleInputEmail1">Trạng thái</label>
                            @if (item.giaoVienChuNhiem.trangThai == 1)
                            {
                                <input type="text" class="form-control" id="exampleInputEmail1" value="Đang chủ nhiệm" readonly>
                            }

                        </div>
                        <div class="form-group col-md-6">
                            <label for="exampleInputEmail1">Ngày bắt đầu</label>
                            <input type="text" class="form-control" id="exampleInputEmail1" value="@item.giaoVienChuNhiem.ngayBatDau" readonly>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="exampleInputEmail1">Ngày kết thúc</label>
                            <input type="text" class="form-control" id="exampleInputEmail1" value="@item.giaoVienChuNhiem.ngayKetThuc" readonly>
                        </div>
                        <hr width="60%" align="center" />
                    }

                }

            </form>
        </div>
    </section>
    <!-- /.content -->
