
@{
    ViewBag.Title = "Cán bộ lớp";
    Layout = "~/Views/Officers/_layout.cshtml";
}

<main>
    <div class="form-group">
        <div class="news mt-2 ">
            <ul>
                <li>
                    <a href="#">
                        <b>
                            <span style="color:red">
                                Đổi mật khẩu
                            </span>
                        </b>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <b>
                            <span style="color:green">
                                Xem điểm rèn luyện cá nhân
                            </span>
                        </b>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <b>
                            <span style="color:blue">
                                Cập nhật lại thông tin cá nhân
                            </span>
                        </b>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <b>
                            <span style="color:orange">
                                Quy định chấm điểm rèn luyện
                            </span>
                        </b>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <b>
                            <span style="color:#fcb1ae">
                                Danh sách sinh viên xử lý học vụ
                            </span>
                        </b>
                    </a>
                </li>

            </ul>
        </div>
    </div>
    <hr>
</main>

