
@{
    ViewBag.Title = "NotifySuccess";
    Layout = "~/Views/Officers/_Layout.cshtml";
}

<main>

    <div id="crumbs" class="wow animate__fadeInUp" data-wow-duration="2s" style="visibility: visible;">
        <ul>
            <li><a href="index.php" class="breadcrumb">Trang chủ</a></li>
        </ul>
    </div>
    <div class="notify--form mt-3">
        <h1 class="article-title wow animate__fadeInUp" data-wow-duration="2s" itemprop="headline" style="text-align: center;text-transform: capitalize;">
            Đánh Giá Điểm Rèn Luyện Thành Công
        </h1>
        <div class="notify_info d-flex mt-3">
            <div class="col-md-6 notify_info--image d-flex align-items-center justify-content-center wow animate__fadeInUp" data-wow-duration="1s">
                <img src="~/Assets/client/image/succes-drl.PNG">
            </div>
            <div class="col-md-6 notify_info--content d-flex align-items-center">
                <div class=" d-flex flex-column" width="100%" align="center" border="0" cellpadding="0"
                     cellspacing="0">

                    <div class="notify_info--content--title wow animate__fadeInUp" data-wow-duration="2s">
                        <p>Bạn đã đánh giá thành công điểm rèn luyện học kỳ. Hãy theo dõi kết quả đánh giá lại của <em><b>cán bộ lớp</b></em> và <em><b>giáo viên chủ nhiệm</b></em> để có phản hồi sớm nhất. Cảm ơn!!!</p>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr>
</main>

