@model Models.EF.baoHiemYTe

@{
    ViewBag.Title = "Edit";
}

<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-12">
                <h1 class="m-0">CHỈNH SỬA TÌNH TRẠNG BHYT<b> @Model.sinhVien.tenSinhVien</b> </h1>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">

    <div class="form-group col-md-10">
        <label>Trạng thái</label>
        <select name="trangThai" class="form-control">
            @{ if (Model.trangThai == 1)
                {
                    <option value="1" selected="selected">Đã nộp</option>
                    <option value="0">Chưa nộp</option>
                }
                else
                {
                    <option value="1">Đã nộp</option>
                    <option value="0" selected="selected">Chưa nộp</option>
                }
            }

        </select>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Save" class="btn btn-default" />
        </div>
    </div>
</div>
}
