
@{
    ViewBag.Title = "Giáo Viên";
    Layout = "~/Views/Teacher/_Layout.cshtml";
}

<main>

    <div id="crumbs" class="wow animate__fadeInUp" data-wow-duration="2s" style="visibility: visible;">
        <ul>
            <li><a href="@Url.Action("Index","Teacher")" class="breadcrumb">Trang chủ</a></li>
            <li><a href="#" class="breadcrumb">Giáo viên</a></li>

        </ul>
    </div>

    <div class="form-group">
        <div class="news mt-2 ">
            <ul>
                <li>
                    <a href="#">
                        <b>
                            <span style="color:blue">
                                Cập nhật lại thông tin cá nhân
                            </span>
                        </b>
                    </a>
                </li>

                <li>
                    <a href="#">
                        <b>
                            <span style="color:orange">
                                Quy định chấm điểm rèn luyện
                            </span>
                        </b>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <b>
                            <span style="color:#fcb1ae">
                                Danh sách sinh viên xử lý học vụ
                            </span>
                        </b>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <b>
                            <span style="color:#fcb1ae">
                                Danh sách lớp chủ nhiệm
                            </span>
                        </b>
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <hr>
</main>

